:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.layoutstyles {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  border-style: solid;
  border-radius: 0px;
  border-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  min-width: 250px;
  flex-shrink: 0;
  background-color: #000;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-logo {
  margin-bottom: 10px;
  width: 100% !important;
  height: auto !important;
  max-width: 210px;
}

.sidebar a {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 24px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
  font-family: var(--font-bebas-neue);
  letter-spacing: 1px;
}

.sidebar a:hover {
  background-color: #333;
}
